@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet')


html{ font-size: 1em; --primary-a:#ffffff; }
body{ background-color: lightgrey; font-weight: normal; font-style: normal; font-size: 1em; font-family: sans-serif;}

h1{border-bottom: 1px solid #000;}

body{background-color: var(--primary-a);}

